{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
hello


    <script type="text/javascript">

    jQuery().ready(function () {
        jQuery("#list1").jqGrid({
            url: 'server.php?q=1',
            datatype: "xml",
            colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
            colModel: [
                {name: 'id', index: 'id', width: 75},
                {name: 'invdate', index: 'invdate', width: 90},
                {name: 'name', index: 'name', width: 100},
                {name: 'amount', index: 'amount', width: 80, align: "right"},
                {name: 'tax', index: 'tax', width: 80, align: "right"},
                {name: 'total', index: 'total', width: 80, align: "right"},
                {name: 'note', index: 'note', width: 150, sortable: false}
            ],
            rowNum: 10,
            autowidth: true,
            rowList: [10, 20, 30],
            pager: jQuery('#pager1'),
            sortname: 'id',
            viewrecords: true,
            sortorder: "desc",
            caption: "XML Example"
        }).navGrid('#pager1', {edit: false, add: false, del: false});
    });

</script>


<div id="jqgrid">
    <table id="grid"></table>
    <div id="gridpager"></div>
</div>



<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated() %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
