{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
hello there neil


  <script>
jQuery(document).ready(function(){

   jQuery("#grid").jqGrid({
        datatype: 'json',
        url: '/api/v1.0/posts/',
        colNames: ['productName','Price', 'Sales'],
        colModel: [
            {name: 'productName', index: 'productName', width: 90},
            {name: 'price', index: 'price', width: 55, template: numberTemplate},
            {name: 'sales', index: 'sales', width: 42, template: numberTemplate},
        ],
        gridview: true,
        rownumbers: false,
        rowNum: 10,
        rowList: [5, 10, 15],
        pager: '#gridPager',
        viewrecords: true,
        multiSort:true,
        sortname: 'orderdate asc, price',
        sortorder: 'asc',
        caption: 'Multi-column Sorting',
        height: '100%'
    });
});

</script>

<div id="jqgrid">
    <table id="grid"></table>
    <div id="gridpager"></div>



{% endblock %}

